.ghead {
    font-size: 3rem;
    color: #fff;
    background: url('../../public/gradiant.jpg') center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
}

.NavBar{
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid   rgba(255, 255, 255, 0.18);
}
@keyframes animate {
    to{
        background-position: -700px;
    }
}